/*------------------------------------------
 Bundles List
-------------------------------------------*/

.bundles-list {
	background: $bundles-list-background;
	&__container {
		padding: rem(60) 0;
		@include breakpoint($medium) {
			padding: rem(120) 0;
		}
	}
	&__title {
		margin: 0 0 rem(30);
		text-align: center;
		@include breakpoint($medium) {
			margin: 0 0 rem(60);
		}
	}
	&__grid {
		@include breakpoint($medium) {
			display: flex;
			flex-flow: row wrap;
			margin: 0 rem(-15) rem(130);
		}
		@include breakpoint($large) {
			margin: 0 rem(-22.5) rem(130);
		}
	}
	&__block {
		padding: rem(50) rem(30) rem(75);
		margin: 0 0 rem(70);
		position: relative;
		background: $bundles-list-block-background;
		background-repeat: no-repeat;
		background-position: top right;
		background-size: 30%;
		box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.05);
		@include breakpoint($medium) {
			flex-basis: calc(50% - 30px);
			padding: rem(60) rem(40) rem(85);
			margin: 0 rem(15) rem(85);
			&:nth-last-of-type(-n+2) {
				margin: 0 rem(15);
			}
		}
		@include breakpoint($large) {
			flex-basis: calc(50% - 45px);
			padding: rem(70) rem(70) rem(95);
			margin: 0 rem(22.5) rem(85);
			background-size: auto;
			&:nth-last-of-type(-n+2) {
				margin: 0 rem(22.5);
			}
		}
	}
	&__type-title {
		margin: 0 0 rem(30);
		max-width: 200px;
		@include breakpoint($large) {
			margin: 0 0 rem(40);
			max-width: 250px;
		}
	}
	&__amount {
		margin: 0 0 rem(40);
		&-item {
			display: inline-block;
			svg {
				width: 9px;
				height: 15px;
				fill: $bundles-list-dollar-icon;
			}
			&.active {
				svg {
					fill: $bundles-list-dollar-icon-active;
				}
			}
		}
	}
	&__list {
		ul {
			@include reset-list();
			li {
				padding: 0 0 0 rem(40);
				margin: 0 0 rem(20);
				min-height: 23px;
				background-image: url(../images/ars/vectors/icon-check-circle.svg);
				background-size: 23px 23px;
				background-repeat: no-repeat;
				background-position: left top;
				&:last-child {
					margin: 0;
				}
				@include breakpoint($medium) {
					padding: 0 0 0 rem(50);
					margin: 0 0 rem(30);
				}
			}
		}
	}
	&__btn {
		padding: 0 rem(30);
		width: 100%;
		position: absolute;
		right: 0;
		left: 0;
		bottom: -25px;
		@include breakpoint($medium) {
			padding: 0 rem(20);
		}
		@include breakpoint($large) {
			padding: 0 rem(70);
		}
		.btn-black {
			padding: rem(19) rem(20);
			width: 100%;
			text-align: left;
			@include breakpoint($medium) {
				padding: rem(24) rem(30);
			}
			@include breakpoint($large) {
				padding: rem(24) rem(50);
			}
			svg {
				float: right;
			}
		}
	}
	&__bottom {
		margin: 0 auto;
		width: 100%;
		position: relative;
		text-align: center;
		@include breakpoint($medium) {
			max-width: 625px;
		}
		img {
			margin: 0 0 rem(20);
			@include breakpoint($medium) {
				margin: 0;
				left: 0;
				@include center-vertical();
			}
		}
		a {
			color: $black;
			@include breakpoint($large) {
				&:hover {
					color: $monza;
					svg {
						fill: $monza;
					}
				}
			}
			svg {
				fill: $red;
			}
		}
	}
}

/* IE 10/11 Flex Fix */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	.bundles-list {
		&__block {
			flex-basis: calc(37% - 40px);
		}
	}
}
