/*------------------------------------------
 Links
-------------------------------------------*/

.arrow-link {
	font-size: rem(11);
	font-weight: 700;
	@include stylized-caps(1);

	@include breakpoint($medium) {
		font-size: rem(12);
	}
	svg {
		margin: 0 0 0 rem(15);
		position: relative;
		top: 1px;
		width: 35px;
		height: 9px;
		transition: fill 200ms;
		@include breakpoint($medium) {
			top: 0;
		}
	}
}